<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quên mật khẩu</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Login Form Template" name="keywords">
    <meta content="Login Form Template" name="description">

    <!-- Favicon -->
    <link th:href="@{img/favicon.ico}" rel="icon">

    <!-- Stylesheet -->
    <link th:href="@{css/styleLogin.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper login-3">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <h2><img th:src="@{img/logo.png}" alt="Logo"></h2>
                <p>
                    Khi nhấn gửi, mật khẩu sẽ được gửi về email cua bạn!
                </p>

            </div>
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Quên mật khẩu</h2>
                <form th:action="@{/forgot-password}" method="post">
                    <p>
                        <input type="text" id="forgot-email" name="forgot-email" placeholder="Email" required>
                    </p>

                    <p>
                        <input class="btn" type="submit" value="Gửi" />
                    </p>
                    <p>
                        <a th:href="@{/register}">Tạo tài khoản </a>
                        <a th:href="@{/login}">Đăng nhập</a>

                    </p>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
