<!DOCTYPE html>
<html layout:decorate="~{admin/fragments/_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Create Donor</title>
</head>
<body>
<div layout:fragment="content">
  <h3>Create Donor</h3>
  <form th:action="@{/admin/donors/create}" th:object="${donor}" method="POST">
    <div class="form-group">
      <label for="programId">Program ID</label>
      <input type="number" id="programId" class="form-control" th:field="*{programId}" required>
    </div>
    <div class="form-group">
      <label for="userId">User ID</label>
      <input type="number" id="userId" class="form-control" th:field="*{userId}" required>
    </div>
    <div class="form-group">
      <label for="donationId">Donation ID</label>
      <input type="number" id="donationId" class="form-control" th:field="*{donationId}" required>
    </div>
    <div class="form-group">
      <label for="donationDate">Donation Date</label>
      <input type="datetime-local" id="donationDate" class="form-control" th:field="*{donationDate}" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create Donor</button>
    <a th:href="@{/admin/donors}" class="btn btn-secondary mt-3">Cancel</a>
  </form>
</div>
</body>
</html>
