<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Email</title>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Change Email</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item">
                        <a class="text-white" th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-white" th:href="@{/user-detail}">User Detail</a>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active text-primary">Change Email</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container">
        <h1 class="mb-4">Change Password</h1>
        <div class="card user-detail-card">
            <div class="card-body">
                <form id="changeEmailForm" method="post" th:action="@{change-password}">
                    <div class="mb-3">
                        <label class="form-label" for="oldPassword">Old Password</label>
                        <input class="form-control" id="oldPassword" name="oldPassword" required type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="newPassword">New Password</label>
                        <input class="form-control"  id="newPassword" name="newPassword" required type="password">
                    </div>
                    <button class="btn btn-primary" id="submitBtn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>


</body>
</html>