<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Change Email</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
    <main layout:fragment="content" class="main-content">
        <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container text-center">
                <h1 class="display-4 text-white animated slideInDown mb-4">Change Email</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item">
                            <a class="text-white" th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-white" th:href="@{/user-detail}">User Detail</a>
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Change Email</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="container">
            <h1 class="mb-4">Change Email</h1>
            <div class="card user-detail-card">
                <div class="card-body">
                    <form id="changeEmailForm" th:action="@{send-otp}" method="post">
                        <div class="mb-3">
                            <label for="newEmail" class="form-label">New Email</label>
                            <input type="email" class="form-control" id="newEmail" name="newEmail" required>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary" id="sendOtpBtn">Send OTP</button>
                        </div>
                    </form>
                    <form id="otpForm" th:action="@{change-email}" method="post">
                        <div class="mb-3">
                            <label for="otp" class="form-label">OTP</label>
                            <input type="text" class="form-control" id="otp" name="otp" required disabled>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    
</body>
</html>