<!DOCTYPE html>
<html layout:decorate="~{admin/fragments/_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Users Management</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
  <h3>Users</h3>
  <a class="btn btn-primary" th:href="@{/admin/user/create}">Add User</a>

  <table class="table mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${list}">
      <td th:text="${user.id}">ID</td>
      <td th:text="${user.name}">Name</td>
      <td th:text="${user.email}">Email</td>
      <td th:text="${user.roleId == 1 ? 'Admin' : 'User'}">Role</td>
      <td>
        <a th:href="@{/admin/user/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm text-white">Edit</a>
        <a th:href="@{/admin/user/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-danger btn-sm text-white">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
