<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>SGU Heart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{fragments/_link}"></div>

</head>

<body>
<main layout:fragment="content">
    <div class="container-fluid p-0 mb-5">
        <div class="carousel slide" data-bs-ride="carousel" id="header-carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="Image" class="w-100" th:src="@{/img/carousel-1.jpg}">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 pt-5">
                                    <h1 class="display-4 text-white mb-3 animated slideInDown">Hãy Trao Đi Cơ Hội, Chúng
                                        Ta
                                        Nhận Lại Tương Lai!</h1>
                                    <p class="fs-5 text-white-50 mb-5 animated slideInDown">Một chút đóng góp của bạn
                                        hôm
                                        nay có thể là cả tương lai của một sinh viên ngày mai. Những sinh viên khó khăn
                                        đang
                                        cần sự giúp đỡ của bạn để tiếp tục con đường học tập và xây dựng tương lai. Hãy
                                        chung tay cùng chúng tôi, mọi sự đóng góp của bạn đều là món quà vô giá cho
                                        học</p>
                                    <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                        Learn More
                                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="Image" class="w-100" th:src="@{/img/carousel-2.jpg}">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 pt-5">
                                    <h1 class="display-4 text-white mb-3 animated slideInDown">Hành Trình Ước Mơ Không
                                        Bao
                                        Giờ Đơn Độc!</h1>
                                    <p class="fs-5 text-white-50 mb-5 animated slideInDown">Chúng tôi tin rằng không
                                        sinh
                                        viên nào nên phải từ bỏ ước mơ học tập chỉ vì hoàn cảnh khó khăn. Mọi khoản đóng
                                        góp, dù nhỏ bé, đều giúp các sinh viên thêm vững bước trên con đường tri thức.
                                        Hãy
                                        là người bạn đồng hành và mang đến hy vọng cho họ bằng cách đóng góp ngay hôm
                                        nay</p>
                                    <a class="btn btn-primary py-2 px-3 animated slideInDown" href="">
                                        Learn More
                                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#header-carousel"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#header-carousel"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img alt="" class="position-absolute w-100 h-100 pt-5 pe-5" style="object-fit: cover;"
                             th:src="@{/img/about-1.jpg}">
                        <img alt="" class="position-absolute top-0 end-0 bg-white ps-2 pb-2"
                             style="width: 200px; height: 200px;"
                             th:src="@{/img/about-2.jpg}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Về chúng tôi
                        </div>
                        <h1 class="display-6 mb-5">Cùng Chung Tay Giúp Đỡ </h1>
                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                            <p class="text-dark mb-2">Chúng tôi kêu gọi sự hỗ trợ từ cộng đồng nhằm mang đến cơ hội tốt
                                hơn
                                cho sinh viên vượt qua khó khăn và đạt được ước mơ học tập</p>

                        </div>
                        <p class="mb-5">Tạo điều kiện cho sinh viên gặp khó khăn về tài chính có thể tiếp tục theo đuổi
                            ước
                            mơ học tập và phát triển bản thân</p>
                        <a class="btn btn-primary py-2 px-3 me-3" href="">
                            Tìm hiểu thêm
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary py-2 px-3" href="">
                            Liên lạc với chúng tôi
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Causes Start -->
    <div class="container-xxl bg-light my-5 py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Feature Causes</div>
                <h1 class="display-6 mb-5">Tất cả học sinh, sinh viên đều có cơ hội được học</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div th:each="item, iterStat : ${program}" class="col-lg-4 col-md-6 mb-4 program-item" th:if="${iterStat.index < 3}">
                    <div class="program-card show">
                        <img th:src="${item.image}" class="card-img-top" alt="Program image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.name}">Program Name</h5>
                            <div class="amount-container">
                                <h6 class="text-primary">
                                    <span th:text="${@amountFormatter.formatAmount(item.currentAmount)}">6.699.367</span>
                                    <small class="text-muted">/ </small>
                                    <span th:text="${@amountFormatter.formatAmount(item.goalAmount)}">200.000.000</span>
                                </h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     th:style="'width:' + ${item.percentageAchieved} + '%'"
                                     th:aria-valuenow="${item.percentageAchieved}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="stats-container">
                                <div class="stat-item">
                                    <div class="stat-value" th:text="${item.donationCount}">1.266</div>
                                    <div class="stat-label">Lượt quyên góp</div>
                                </div>
                                <div class="stat-item">
                                    <div class="stat-value" th:text="${item.percentageAchieved} + '%'">3%</div>
                                    <div class="stat-label">Đạt được</div>
                                </div>
                                <div class="stat-item">
                                    <div class="stat-value" th:text="${item.remainingDays}">68</div>
                                    <div class="stat-label">Ngày còn lại</div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a th:href="@{/program/{id}(id=${item.programId})}"
                                   class="btn btn-donate"
                                   th:classappend="${item.currentAmount >= item.goalAmount} ? 'disabled' : ''"
                                   th:attr="disabled=${item.currentAmount >= item.goalAmount}">
                                    Quyên góp ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Causes End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Chúng tôi sẽ làm</div>
                <h1 class="display-6 mb-5">Xây dựng một cộng đồng học tập bền vững, nơi tất cả sinh viên đều có cơ hội
                    tiếp
                    cận giáo dục</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img alt="" class="img-fluid mb-4" th:src="@{/img/icon-1.png}">
                        <h4 class="mb-3">Trao học bổng</h4>
                        <p class="mb-4">Thông tin về các chương trình học bổng dành cho sinh viên nghèo khó.</p>
                        <a class="btn btn-outline-primary px-3" th:href="@{/category/1}">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img alt="" class="img-fluid mb-4" th:src="@{/img/icon-2.png}">
                        <h4 class="mb-3">Hổ trợ gia đình</h4>
                        <p class="mb-4">Các chương trình cứu trợ tài chính khẩn cấp cho gia đình sinh viên gặp tình huống khó
                            khăn
                            đột xuất (thiên tai, dịch bệnh, v.v.).</p>
                        <a class="btn btn-outline-primary px-3" th:href="@{/category/4}">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img alt="" class="img-fluid mb-4" th:src="@{/img/icon-3.png}">
                        <h4 class="mb-3">Bảo vệ môi trường</h4>
                        <p class="mb-4">Hỗ trợ một phần chi phí cho các dịch vụ bảo vệ môi trường</p>
                        <a class="btn btn-outline-primary px-3" th:href="@{/category/3}">
                            Learn More
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Donate Start -->
    <div class="container-fluid donate my-5 py-5" data-parallax="scroll" th:data-image-src="@{img/carousel-2.jpg}">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Ủng hộ ngay</div>
                    <h1 class="display-6 text-white mb-5">Quỹ chung hỗ trợ sinh viên khẩn cấp </h1>
                    <p class="text-white-50 mb-0">Tạo điều kiện cho sinh viên gặp khó khăn về tài chính có thể tiếp tục
                        theo
                        đuổi ước mơ học tập và phát triển bản thân.Hướng tới xây dựng một cộng đồng học tập bền vững,
                        nơi
                        tất cả sinh viên đều có cơ hội tiếp cận giáo dục.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 bg-white p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input class="form-control bg-light border-0" id="name" placeholder="Your Name"
                                               type="text">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input class="form-control bg-light border-0" id="email"
                                               placeholder="Your Email"
                                               type="email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="btn-group d-flex justify-content-around">
                                        <input checked class="btn-check" id="btnradio1" name="btnradio" type="radio">
                                        <label class="btn btn-light py-3" for="btnradio1">$10</label>

                                        <input class="btn-check" id="btnradio2" name="btnradio" type="radio">
                                        <label class="btn btn-light py-3" for="btnradio2">$20</label>

                                        <input class="btn-check" id="btnradio3" name="btnradio" type="radio">
                                        <label class="btn btn-light py-3" for="btnradio3">$30</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary px-5" style="height: 60px;">
                                        Donate Now
                                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->


</main>
<!-- Testimonial End -->


<!-- Footer Start -->
<div th:replace="~{fragments/_footer}">

</div>
<!-- Footer End -->


<!-- Back to Top -->
<a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="~{fragments/_lib}"></div>
</body>

</html>

