<!DOCTYPE html >
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{admin/fragments/_link}"></div>
</head>
<body id="page-top">
<div id="wrapper">
    <div th:insert="~{admin/fragments/_navbar}"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:insert="~{admin/fragments/_headernav}"></div>
            <div class="container-fluid">
                <div layout:fragment="content">

                </div>
            </div>
        </div>
        <div th:insert="~{admin/fragments/_footer}"></div>
    </div>
</div>
<div th:insert="~{admin/fragments/_lib}"></div>

</body>
</html>