<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}"/>
<link rel="stylesheet" th:href="@{/css/styles.min.css}"/>
<link
        href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
        rel="stylesheet"
/>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css"
        rel="stylesheet"
/>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
        rel="stylesheet"
/>
<link
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        rel="stylesheet"
/>